@(atividades: Set[Atividade])
@main("Atividades Catalogue") {
	<h1>Lista de Atividades</h1>
	<dl>
	@for(atividade <- atividades) {
		<dt>
			<a href="@routes.AtividadeController.show(atividade.id)">
				@atividade.id - @atividade.data - @atividade.status
			</a>
		</dt>
		<dd>@atividade.descricao</dd>
	}
	</dl>

    <!-- <button type="button" href="@routes.CadastroAtividadeController.showBlank()" class="btn btn-primary">Teste</button> -->
    <a class="btn btn-primary" href="/cadastro/atividades" role="button">Cadastrar Atividade</a>

	<!-- <a href="@routes.CadastroAtividadeController.showBlank()" class="btn">
	<i class="icon-plus"></i> New atividade</a> -->
}
