@(atividadeForm: Form[Atividade])

@import helper._

@main("Atividade Form") {
	<h1>Atividade Form</h1>
	@helper.form(action = helper.CSRF(routes.CadastroAtividadeController.save())) {
		<fieldset>
		<legend>Atividade @atividadeForm("Id").valueOr("(New Atividade)")</legend>
		@helper.inputText(atividadeForm("Id"))
		@helper.inputText(atividadeForm("Data"))
		@helper.inputText(atividadeForm("Status"))
		@helper.textarea(atividadeForm("Descricao"))
		</fieldset>
		<input type="Submit" class="btn primary">
	}
}
